.memory-game-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.row {
    display: flex;
    gap: 20px;
}

.cell{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 100px;
    height: 100px;
    font-size: 40px;
    background-color: antiquewhite;
}