.container {
    max-width: 300px;
    cursor: pointer;
}
.input-for-multi-select {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(251, 247, 242);
    border: 1px solid black;
    min-height: 20px; 
    gap: 20px;
}

.search-item {
    border: 0;
}
.list {
    list-style: none;
    padding: 0;
}

.list-item {
    border: 1px solid black;
}