.container {
    background-color: rgb(248, 102, 102);
    width: fit-content;
    padding: 40px;
}

.nav {
    display: flex;
    justify-content: space-around;
}

.nav div {
    font-weight: 600;
}

.row {
    display: flex;
    gap: 40px;
    padding: 40px;
}
.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.mole {
    position: relative;
    top: 20px;
}

/* .mole-bottom-to-top {
    top: 0px;
    transition: 1.5 all;
} */