.widget-container {
    display: flex;
    gap: 40px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    position: absolute;
}
.bar-container {
    display: flex;
    align-items: end;
    position: relative;
    top: 10px;
}

.bar {
    width: 40px;
}

.bar-paint {
    background-color: rgba(244, 156, 156, 0.196);
    border: 1px solid black;
}

.bar-text {
    height: 10px;
}

.y-axis-num {
    height: 100px;
}
/* .y-axis {
    position: relative;
    border: 1px solid black;
    height: 600px;
    top: -10px;
} */