:root {
    --border-radius: 6px;
}

.otp-container {
    display: flex;
    flex-direction: column;
    width: 320px;
    padding: 14px;
    border: 1px solid rgb(193, 191, 191);
    border-radius: var(--border-radius);
    background-color: rgb(244, 244, 244);
    gap: 20px;
}

.digits-container {
    display: flex;
    gap: 20px;
}

.digit {
    display: inline-block;
    height: 40px;
    width: 30px;
    border-radius: var(--border-radius);
    border: 1px solid black;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.btn {
    border: 1px solid black;
    border-radius: var(--border-radius);
    width: 140px;
    height: 30px;
}

.reset {}

.submit {
    color: black;
    background-color: rgb(113, 171, 113);
}