
.grid-container {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 20px;
    background-color: black;
    width: fit-content;
    padding: 20px;
    row-gap: 20px;
}
.circle {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: grey;
}