.container {
    display: flex;
    max-width: 400px;
    flex-direction: column;
}

.board-container {
    display: flex;
    flex-wrap: wrap;
}

.row {
    padding: 20px;
    cursor: pointer;
    width: 100px;
    height: 100px;
    font-size: 44px;
}

.row-confirm {
    border: 0;
    pointer-events: none;
}

.play-again-btn {
    width: fit-content;
}