.game-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 300px;
}

.status-message {
  height: 24px;
  line-height: 24px;
}

.cell {
  cursor: pointer;
  width: 98px;
  height: 98px;
  line-height: 98px;
  text-align: center;
  background-color: rgba(128, 128, 128, 0.198);
  border: 1px solid black;
}

.reset-button {
  width: fit-content;
}