.autocomplete-container {
    position: relative;
    width: fit-content;
}

.autocomplete-list {
    position: relative;
    height: 200px;
    overflow: auto;
    width: fit-content;
    border: 1px solid rgba(0, 0, 0, 0.102);
    padding: 20px;
}

.search-field {
    border: 1px solid black;
    width: 500px;
    /* height: 20px; */
    padding: 10px;
}

.search-input {
    border: 0;
    outline: none;
}

.all-chips {
    width: fit-content;
}

.chip {
    background-color: aquamarine;
    width: fit-content;
    border-radius: 10px;
    padding: 5px;
}

.list-item {
    cursor: pointer;
}

.close-button {
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
}