.accordion-container{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    gap: 20px;
}

.accordion-content {
    padding-left: 20px;
}


.accordion-title {
    display: flex;
    width: 500px;
    text-align: left;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.accordion-icon {
    border: solid currentcolor;
    border-width: 0 2px 2px 0;
    display: inline-block;
    height: 8px;
    pointer-events: none;
    transform: translateY(-2px) rotate(45deg);
    width: 8px;
}

.accordion-icon--rotated {
    transform: translateY(2px) rotate(-135deg);
}